* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: #ececec;
  font-family: "Arial Narrow","Helvetica Neue",sans-serif;
}

@media screen and (min-width: 2048px) {
  body {
    font-size: calc(1vw);
  }
}
